<div class="topnav2">
  <div id="nav2">
    <a routerLink="/home/security">SECURITY</a>
    <a routerLink="/home/aboutus">ABOUT US</a>
    <a routerLink="/home/contact">CONTACT US</a>
    <a routerLink="/home/admin">ADMIN</a>
  </div>
</div>
<div id="content">
  <br>
<div><u><b style="font-size: 24;margin-left: 4px;color:darkblue">SECURITY TIPS</b></u></div>
<br>
<div><b style="margin-left: 4px;"><u>General Security Advices</u></b></div>
<br>
<ul >

<li> Your user name and password are highly confidential. Do not part with them. City Union Bank will never ask for this
information other than the log on page.</li>

<li>Upgrade the Operating System (OS) of the computer system promptly as newer/upgraded versions would help make your
system more secure.</li>

<li>Install Antivirus software on your computer systems and update them continuously as this will reduce the risk of virus
attacks</li>

<li> Installation of personal firewall would provide added level of security</li>

<li>Any potential risk caused through pop up windows may be eliminated by removing spyware or adware installed on your
system by using spyware/adware removing tools.</li>

<li> Downloads from unknown/unfamiliar sources may contain programs or viruses that may compromise your system security.</li>

<li>Disconnect your internet connection when not in use. This would avoid unnecessary access to the information on your
systems and help protect yourself even if you have a personal firewall installed in your system.</li>

<li> Please logout completely after using the online application, i.e., by clicking the logout button and closing the
browser windows. Enabling screen saver password would provide additional protection</li>
<br>


<div style="color:deeppink">&copy; 2020 AbcBank.com</div>


</ul>
</div>