<!--navigation bar-->
<div class="topnav2">
  
    <div id="nav2">
  
      <a routerLink="/home/security">SECURITY</a>
      <a routerLink="/home/aboutus">ABOUT US</a>
      <a routerLink="/home/contactus">CONTACT US</a>
      <a routerLink="/home/admin">ADMIN</a>
      
    </div>
  </div>
  
<div class="offset-lg-1 col-lg-10">
  <h2 class="text-center" style="font-style: italic;"><u>Terms & Conditions</u></h2><br>
  <div class="title-line">
  <h4>INTRODUCTION</h4>
  <hr>
</div>
<ol>
  <li>
      ABC Credit Service India Private Limited is a Non-Banking Finance Company (“NBFC”) registered with the
      Reserve Bank of India (the “RBI”) and as such ABC, inter alia, provides various lending facilities to
      customers.

  </li>
  <li>
      These T&C are applicable universally to all the persons doing business/dealing with ABC with regards to its
      Personal Loan Business (“PLB”) and shall be construed as read and understood by such persons.

  </li>
  <li>
      The Borrower has represented to ABC that the Borrower is in need of financial assistance for the purpose
      mentioned in the Loan Application (defined later) and has requested ABC to grant to the Borrower a Personal
      Loan which shall be used by the Borrower only for the said purpose. Towards this end, the Borrower has filed a
      Loan Application to avail the Personal Loan facility from ABC.

  </li>
  <li>
      Relying upon the representations of the Borrower and subject to the Borrower meeting ABC’s eligibility criteria
      and all other legal requirements for qualifying as an approved borrower, ABC agrees to make available/grant the
      Personal Loan (as defined below) to the Borrower as stipulated in the Loan Application, on T&C more particularly
      stated herein. However, nothing contained herein may be construed as creating any rights/obligations with ABC
      and any contractual commitments shall be subject to fulfillment of/adherence/subject to any/all further
      terms/conditions as applicable on a case to case basis.

  </li>

</ol>
<div class="row">
  <div class="col-lg-12 col-sm-12">
      <div class="title-line">
          <h4>DEFINITIONS</h4>
          <hr>
      </div>
      <b>In these T&C, and any documents executed, the capitalized terms listed below shall have the following
          meanings:</b>
      <ol>
          <li>
              “ABC” has the meaning attributed to it in paragraph 1.1.
          </li>
          <li>
              “ABC Location” means the ABC branches, offices and any other place where the ABC lending business
              is/was transacted.
          </li>
          <li>
              “Authorised Bank” means the bank authorised by ABC to collect payments from the Borrower on its behalf
              including payment wallets, payment gateway systems, any other legally authorized internet/mobile
              application/banking based payment portals, with whom ABC may or may not have formal tie-ups.
          </li>
          <li>
              “Borrower(s)” means the person/individual named in Item 1 of the Sanction Letter and his/her/its
              respective heirs, executors and administrators.
          </li>
          <li>
              “Electronic Record" means electronic record as defined under the Information Technology Act, 2000 and
              includes all documentation/communication created/generated electronically in any manner
              howsoever/whatsoever including but not limited to these T&Cs, Loan Application, Loan Sanction Letter,
              agreements, e-mails, electronic signatures, SMS, electronic form of messaging, etc. whether
              generated/communicated/stored through any device capable of the same including computers, mobile phones,
              the internet etc.
          </li>
          <li>
              “EMI” means equated monthly installments being installments of fixed amounts compromising of the
              principal amount of the Personal Loan and interest charged thereon payable monthly towards repayment of
              the Personal Loan Amount throughout the Loan Tenure and other fees and charges as specified in the Loan
              Sanction Letter.
          </li>
          <li>
              “Loan Application” means the application form for availing the Personal Loan facility that may be
              granted by ABC for the purposes mentioned in the Loan Application (subject to fulfillment of all the
              other conditions and at the sole discretion of ABC), made by the Borrower to ABC.
          </li>
          <li>
              “Loan Documentation” means the Loan Application together with these T&C, the Loan Sanction Letter and
              other documents or writings as may be required by ABC to be executed by or provided by the Borrower for
              the purposes of the relevant Personal Loan.
          </li>
          <li>
              “Loan Sanction Letter” means the sanction letter issued by ABC to the Borrower, setting out the terms
              of the Personal Loan, as may be amended, supplemented or replaced from time to time.
          </li>
          <li>
              “Loan Tenure” means the duration of the Personal Loan as stipulated in the Loan Application.
          </li>
          <li>
              “NBFC” has the meaning attributed to it in paragraph 1.1.
          </li>
          <li>
              “Outstanding Dues” means all amounts payable by the Borrower to ABC pursuant to these T&C, including
              without limitation the principal Personal Loan Amount and interest on the Personal Loan Amount and on
              any/all Outstanding Dues due and payable to ABC.
          </li>
          <li>
              “Personal Loan”/ “Personal Loan Amount” means the credit/finance which ABC may advance/lend to the
              Borrower subject to the borrower qualifying for the same and as stipulated in the Loan Application and
              meeting all further terms and conditions prescribed by ABC.
          </li>
          <li>
              “RBI” has the meaning attributed to it in paragraph 1.1.
          </li>
          <li>
              “Recovery Agent” means the agent of ABC, whether an ABC employee or a third party duly authorized for
              the purposes of collection/recovery of dues payable to ABC by the Borrower.


          </li>




      </ol>
  </div>

</div>
<div class="row">
  <div class="col-lg-12 col-sm-12">
      <div class="title-line">
          <h4>TERMS OF LOAN </h4>
          <hr>
      </div>

      <ol>



          <li>

              In the event ABC sanctions the Personal Loan on the basis of the Loan Application submitted by the
              Borrower, these T&C read together with all relevant Loan Documentation will govern the Personal Loan and
              the relationship between ABC and the Borrower.
          </li>
          <li>
              The Borrower shall pay all fees and charges as set out in the Loan Sanction Letter which may be deducted
              by ABC at the time of disbursal of the Personal Loan Amount to the Borrower or otherwise recovered by
              ABC in any other manner as may be mutually agreed between the Borrower and ABC. It is clarified that
              where ABC intends to deduct such fees and charges from the Personal Loan Amount as specified in this
              clause, ABC shall gross up the Personal Loan Amount by a sum not exceeding the fees and charges so
              deducted, so as to ensure that the Personal Loan Amount disbursed to the Borrower is not less than the
              Personal Loan Amount approved by ABC in the Loan Application.
          </li>
          <li>
              The Personal Loan shall be disbursed by ABC to the Borrower in one lump sum or in such installments as
              may be decided by ABC at its discretion.
          </li>
          <li>
              The Borrower shall utilize the Personal Loan only for the purpose mentioned in the Loan Application and
              approved by ABC and for no other purposes.
          </li>
          <li>
              The Borrower shall be exclusively responsible and liable for utilization of the Personal Loan sanctioned
              by ABC and shall ensure that the Loan Amount is not used for any illegal or unauthorized or speculative
              purposes.
          </li>
          <li>
              The Borrower may withdraw the Loan Application and/ or otherwise choose not to borrow the Personal Loan
              from ABC without payment of any cancellation charges, if such withdrawal or cancellation, as the case
              may be, is communicated to ABC in writing within 7 (seven) days from the date of issue of the Loan
              Sanction Letter by ABC. In such cases, the Borrower shall be bound to refund the entire Personal Loan
              Amount to ABC within 7 (seven) or any such lesser number of days remaining from the date of issue of
              the Loan Sanction Letter by ABC (“Refund Period”). However, if the Personal Loan Amount is not
              repaid/refunded to ABC within the Refund Period, the Borrower shall be liable to pay the cancellation
              charges/foreclosure charges/interest as may be intimated by ABC.
          </li>
          <li>
              If the Borrower chooses to withdraw the Loan Application and/or otherwise chooses not to borrow the
              Personal Loan from ABC after acceptance by the Borrower of the Loan Sanction Letter, the Borrower shall
              be bound to pay the cancellation charges and foreclosure charges as specified in the Loan Sanction
              Letter. It is clarified that the Borrower shall not be entitled to withdraw the Loan Application and/ or
              otherwise choose not to borrow the Personal Loan from ABC, if such withdrawal or cancellation, as the
              case may be, is communicated to ABC beyond 7 (seven) days from the date of issue of the Loan Sanction
              Letter by ABC.
          </li>
          <li>
              The borrower understands that time is and shall be of essence for the purposes of the Personal Loan and
              matters incidental thereto, including cancellation and refund of the Personal Loan Amount to ABC and
              undertakes to adhere to all prescribed timelines without demur or delay. In case the Borrower does not
              adhere to any prescribed timelines whether in these T&C or any other documents, the same shall be
              construed as material breach unless the same has been permitted by ABC. In case of such material
              breach, ABC may at its discretion adopt appropriate measures to recover any amounts due from the
              Borrower.

              In the event ABC sanctions the Loan on the basis of the Loan Application submitted by the Borrower,
              these Terms read together with the Loan Sanction Letter will govern the Loan and the relationship
              between ABC and the Borrower.
          </li>
      </ol>
  </div>

</div>
<div class="row">
  <div class="col-lg-12 col-sm-12">
      <div class="title-line">
          <h4>REPAYMENT OF LOAN </h4>
          <hr>
      </div>

      <ol>
          <li>

              The Borrower shall repay the Personal Loan Amount together with charges/interest charged thereon by way
              of EMIs to be paid in monthly installments as specified in the Loan Sanction Letter or otherwise
              communicated to the Borrower in writing by ABC.
          </li>
          <li>
              The due date for payment of EMI/charges as stipulated by ABC shall be strictly adhered to and it is
              understood that time shall be of essence for any payments to ABC.
          </li>
          <li>
              ABC shall be entitled to revise the rate of interest and/or any other charges at any time and from time
              to time as per its policy and/or applicable laws and regulations, if any, during the Loan Tenure, at its
              discretion and such revised interest/charges shall be deemed to be applicable to the Personal Loan and
              the Borrower shall also be liable to pay such revised amounts as originally required unless otherwise
              intimated by ABC at its sole discretion. The Borrower shall be notified in advance of any change in the
              rates of interest/charges and any such change shall be applicable only prospectively.
          </li>
          <li>
              The EMI and any other charges shall automatically stand revised by reason of revision in any rates,
              taxes, charges and levies whatsoever that are or may be levied on the transaction contemplated hereunder
              or on ABC or may become payable by ABC by virtue of these T&C. Such increase in rates, taxes, charges
              and levies as stated above shall automatically form part of the Personal Loan. The increase in such
              EMI/charges shall be notified to the Borrower by ABC from time to time.
          </li>
          <li>
              All sums payable by the Borrower to ABC shall be paid without any deductions whatsoever; discharge for
              payment will be given only on realization of the entire amount due.
          </li>
          <li>
              If there is any delay in payment of an EMI/charge by the Borrower, ABC shall be entitled to charge an
              overdue penalty fee at a rate mentioned in Loan Sanction Letter and to recover the balance amount
              together with such fee.
          </li>
          <li>
              Notwithstanding anything contained herein, the Outstanding Dues and all other sums whatsoever payable by
              the Borrower to ABC hereunder and/ or in connection with the Personal Loan shall be payable by the
              Borrower to ABC on demand. ABC may, at any time, in its sole discretion and without assigning any
              reason, call upon the Borrower to pay the Outstanding Dues and thereupon the Borrower shall within
              fifteen [15] days (subject to the provisions of Clause 3.6) of being so called upon pay the whole of the
              Outstanding Dues to ABC without any delay or demur.
          </li>
          <li>
              The Borrower shall not, without the approval of ABC, be entitled to prepay the EMI or any part thereof
              before the expiry of Loan Tenure. ABC may, at its discretion, give approval to the Borrower for the
              prepayment of any amounts due under the Personal Loan, subject to the Borrower fulfilling any terms and
              conditions stipulated by ABC including payment of any charges at the time of prepayment of the Personal
              Loan as stated in the Loan Sanction Letter or otherwise notified by ABC to the Borrower.

          </li>
      </ol>
  </div>

</div>
<div class="row">
  <div class="col-lg-12 col-sm-12">
      <div class="title-line">
          <h4>MODE OF PAYMENT </h4>
          <hr>
      </div>
      <ol>
      <li>
          <b>Payment by Post Dated Cheques </b>
          <br />
          In case the repayment is to be made by way of post dated cheques (which mode of payment may be refused by
          ABC in its discretion) and the Borrower has given post dated cheques in favor of ABC covering all or any
          of the amounts due to ABC towards the Loan, the Borrower hereby irrevocably and unconditionally agrees and
          covenants:
          <ol>




              <li>
                  that each such post dated cheque shall carry the date on which the relevant EMI is due;
              </li>
              <li>
                  that the post dated cheques given by the Borrower shall be valid as from the respective dates of
                  such cheques and that at any point of time the Borrower shall not claim that they are invalid due to
                  any reason whatsoever;
              </li>
              <li>
                  that he/she/it shall ensure availability of sufficient funds in the account on which such post dated
                  cheques have been drawn;
              </li>
              <li>
                  that the Borrower shall not at any time close his/her account and/or issue any notice instructing
                  ABC not to present any of such cheques for encashment;
              </li>
              <li>
                  that the Borrower shall not instruct his/her/its Bank to stop payment on any of such cheques; and
              </li>
              <li>
                  that in case the Borrower changes/desires to change his/her Bank on which the post dated cheques
                  deposited with ABC are drawn, the Borrower shall be entitled to replace the cheques/issue fresh
                  cheques only on payment of swapping charges to ABC as specified in the Loan Sanction Letter. The
                  Borrower hereby acknowledges that one of the essential terms of sanctioning the Loan is on the basis
                  of post dated cheques issued by the Borrower in favour of ABC towards repayment of EMIs payable by
                  the Borrower to ABC and details of the post dated cheques are more fully described in the Loan
                  Application.


              </li>
              <li>
                  that any cheques issued may have to be replaced by any new form of equal number of legally valid
                  cheques in case the same is mandated due to any RBI direction or generally due to any change in law.
              </li>
          </ol>
      </li>
      <li>
          <b>Payment by Electronic Clearing System </b>
          <br />
          In case the payment of EMI is to be made by way of Electronic Clearing System (E.C.S) mandate in favor of
          ABC covering all or any of the amounts due to ABC towards the Loan, the Borrower hereby irrevocably and
          unconditionally agrees and covenants that:

          <ol>




              <li>
                  that the E.C.S. mandate given, at or before the execution of these Terms, will be valid as on the
                  date of the E.C.S. mandate and at any point of time the Borrower shall not claim that they are
                  invalid due to any reason whatsoever;
              </li>
              <li>
                  the Borrower further confirms that he/she/it shall ensure availability of sufficient funds in the
                  account on which such E.C.S. mandate has been drawn and the Borrower shall not at any time close
                  his/her/its account or instruct his/her/its Bank to stop payment on any of such E.C.S. mandates
                  and/or withdraw or change such mandate without prior intimation to ABC;
              </li>
              <li>
                  where the funds in the relevant bank account are not sufficient to honour the ECS mandate as per its
                  terms, the Borrower shall not object to ABC presenting such ECS mandate all over again for recovery
                  of any amount due and payable hereunder;
              </li>
              <li>
                  that the Loan has been made available by ABC on the basis of E.C.S. mandate issued by the Borrower
                  in favour of ABC towards repayment of EMI payable by the Borrower to ABC and details of the E.C.S.
                  mandate are more fully described in Loan Application;
              </li>
              <li>
                  that in case the Borrower changes/desires to change his/her Bank, the Borrower shall be entitled to
                  replace the E.C.S. mandate and issue fresh E.C.S. mandates for the new Bank only on payment of
                  swapping charges to ABC at the rates specified in the Loan Sanction Letter or otherwise
                  communicated to the Borrower by ABC.


              </li>
          </ol>
      </li>
      <li>
          <b>Payment by Cash Deposit </b>
          <br />
          In case the repayment is to be made by way of cash, the Borrower shall deposit the amount at the counter of
          the Authorised Bank and / or at the ABC Office Payment Counter in manner stipulated by ABC.


      </li>
      <li>
          Any dispute or difference of any nature whatsoever shall not entitle the Borrower to withhold or delay
          payment of any EMIs or other sums due and payable to ABC; and ABC shall be entitled to present the post
          dated cheques/E.C.S. Mandates/any other electronic or other clearing mandate to the Bank on the respective
          due date.
      </li>
      <li>
          Upon the Borrower paying to ABC all the EMIs on the dues dates as specified in the Loan Application and
          also upon paying to ABC all other sums, payable by the Borrower to ABC under the terms agreed between the
          Borrower and ABC, the Loan shall come to an end.
      </li>
      </ol>
  </div>
</div>



<div class="row">
  <div class="col-lg-12 col-sm-12">
      <div class="title-line">
          <h4>BORROWER’S REPRESENTATIONS AND COVENANTS</h4>
          <hr>
      </div>
      <ol>
          <li>
              The Borrower represents and warrants to ABC as under:
              <ol>



                  <li>
                      The Borrower is/are individuals competent to contract under the Indian Contract Act, 1872 and
                      where the Borrower is a HUF, the Borrower is competent to incur debts on behalf of the HUF;
                  </li>
                  <li>
                      all declarations provided by the Borrower in relation to the Loan availed by the Borrower, are
                      true and accurate in all respects;
                  </li>
                  <li>
                      the Borrower is fully empowered to avail of the Loan and to agree to adhere to the Loan Sanction
                      Letter, these Terms and Conditions and to perform the obligations contained herein, and the Loan
                      Application Form, these Terms and Conditions have been duly executed and delivered by the
                      Borrower as may be required, and once the Loan is disbursed by ABC, the Loan Application Form,
                      Loan Sanction Letter together with these Terms and Conditions constitute a legal, valid and
                      binding obligations of the Borrower enforceable against him/her/them in accordance therewith;
                  </li>
                  <li>
                      all information provided by the Borrower to ABC in the Loan Application or otherwise howsoever
                      in relation to the Loan, is true, correct, accurate and complete in all respects and is not
                      misleading in letter or spirit, whether by reason of omission to state a material fact or
                      otherwise;
                  </li>
                  <li>
                      no proceedings have been initiated or events occurred in connection with insolvency, bankruptcy,
                      protection against creditors or as a relief undertaking or other similar matters in relation to
                      the Borrower, and there is no order for the appointment of a receiver, administrator or other
                      similar person or authority in relation to the business, undertaking or assets of the Borrower.


                  </li>
              </ol>
          </li>
          <li>
              The Borrower hereby acknowledges, agrees, undertakes and covenants as under :-
              <ol>

                  <li>

                      the Borrower shall ensure timely payment of the EMI/charges to ABC and ensure that the post
                      dated cheques/E.C.S/ACH Mandate/any other electronic or other clearing mandate issued towards
                      payment of the EMI/charges are honoured on presentation;
                  </li>
                  <li>
                      on the date of payment of the EMI or any other sums payable hereunder, the Borrower shall ensure
                      that bank account has been debited towards the EMI or relevant sum, as the case may be, and in
                      case of his/her/its account has not been so debited, the Borrower shall be obliged to inform
                      ABC in this regard within 3 (three) days from the due date of such EMI/charges;
                  </li>
                  <li>
                      the Borrower shall pay and bear all taxes, rates, duties, charges and other imposts and
                      obligations, existing as well as in future, in respect of the Personal Loan;
                  </li>
                  <li>
                      the Borrower shall do all such things and execute all such writings as ABC may require from
                      time to time for duly or more perfectly securing the repayment of the Personal Loan;
                  </li>
                  <li>
                      the Borrower shall not default or delay in the payment of the EMI/charges or his/her/its dues
                      beyond the due dates;
                  </li>
                  <li>
                      the Borrower shall not change the bank account used for the purposes of issuing the post-dated
                      cheques or E.C.S./ACH mandate without prior intimation to ABC and such change may be effected
                      subject to the terms and conditions of these T&Cs, Loan Sanction Letter, and any other oral or
                      written terms communicated to the Borrower by ABC;
                  </li>
                  <li>
                      the Borrower shall have no right to terminate the Loan Sanction Letter or these T&Cs save and
                      except by payment, in full, of all moneys payable under these T&Cs and any other applicable
                      conditions to ABC;
                  </li>
                  <li>
                      the Borrower acknowledges that the rate of interest, penal charges, service charges, prepayment
                      charges and other charges payable and/or agreed to be paid by the Borrower under these T&Cs are
                      reasonable and acceptable to him;
                      <br />(i) the Borrower shall, as and when required to do so by ABC, provide ABC with the
                      updated Know Your Client (“KYC”) documents. The Borrower shall provide accurate details and
                      access to ABC over digital platforms such as mobile applications, website etc. of ABC to
                      enable ABC to conduct necessary KYC and other eligibility verifications. The Borrower shall
                      provide valid email ID and telephone/mobile number to ABC and keep ABC updated about any
                      change in such particulars. In the event of failure on part of the Borrower to update the
                      records with ABC, any communication sent to or received from the last updated email ID or
                      telephone/mobile number shall be construed as valid and sufficient communication

                  </li>
              </ol>
          </li>
      </ol>
  </div>

</div>
</div>