<!--navigation bar-->
<div class="topnav2">
  
    <div id="nav2">
  
      <a routerLink="/home/security">SECURITY</a>
      <a routerLink="/home/aboutus">ABOUT US</a>
      <a routerLink="/home/contactus">CONTACT US</a>
      <a routerLink="/home/admin">ADMIN</a>
      
    </div>
  </div>
  
<div class="box offset-lg-1 col-lg-10" style="justify-content: center;">
  <div style="font-size: x-large; font-style: italic;text-align: center;"><u>About Us</u></div>
  <br>
  <br>
  <h4 style="margin-left: 100px;">Are you in need of money?<br>
      Are you looking for some Startups?<br>
      Are you a good student but cannot continue studies because of poverty?<br>
      Have a desire of Buying a CAR?<br>
      Have a desire to build a House?<br>
      Have Gold in Home Locker but not useful?<br>
  </h4>

  <h4 style="margin-left: 100px;">Here, comes the solution for all of your problems - <span class="text-primary">ABC
          Banking Loan Services.</span>
  </h4>
  <span class="text-dark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We have emerged in India since 2020 as One of the leading Loans Service Companies because of
      our commitment, friendly nature with customers and lowest rate of interest possible.
      We believe that we gain profits only when our customers gain profits and we work towards it.
  </span><br>
  <br>
  <span class="text-center text-secondary" style="font-size: larger;text-align: center;">Our motto is "MONEY IN
      LOCKER BECOMES LOSES ITS VALUE - MONEY IN ROTATION
      DEVELOPS THE VALUE AS WELL AS THE PERSON".<br><br></span>


  <div class="row" style="justify-content: center;">
      <div class="card" style="background-image: url(/assets/images/carloan.jpg);background-size: cover;">
          <div class="back">
              CAR LOAN <br><span class="text-light text-center">5% interest</span>
          </div>
      </div>
      &nbsp;&nbsp;&nbsp;
      <div class="card" style="background-image: url(/assets/images/homeloan.jpg);background-size: cover;">
          <div class="back">
              HOME LOAN <br><span class="text-light text-center">5% interest</span>
          </div>
      </div> &nbsp;&nbsp;&nbsp;
      <div class="card" style="background-image: url(/assets/images/educationloan.jpg);background-size: cover;">
          <div class="back">
              EDUCATION LOAN <br><span class="text-light text-center">2% interest</span>
          </div>
      </div>&nbsp;&nbsp;&nbsp;
      <div class="card" style="background-image: url(/assets/images/goldloan.jpg);background-size: cover;">
          <div class="back">
              GOLD LOAN <br><span class="text-light text-center">3% interest</span>
          </div>
      </div>&nbsp;&nbsp;&nbsp;
      <div class="card" style="background-image: url(/assets/images/businessloan.jpg);background-size: cover;">
          <div class="back">
              BUSINESS LOAN <br><span class="text-light text-center">7% interest</span>
          </div>
      </div>
  </div>
</div>


