
<!--top navigation bar -->
<div class="offset-md-2 offset-lg-2 col-lg-8 col-md-8">


  <div class="topnav1">
    <div id="nav1"><img src="/assets/images/bank_name.png"></div>
    <div id="nav2">
      <a routerLink="/home/abchome"> ABC Home</a>
      <a routerLink="/home/t&c">Terms & Conditions</a>
    </div>
  </div>


  <br>


  <!--router outlet for login and signup pages along with security, features, about us , contact us pages-->
  <div>
    <router-outlet></router-outlet>
    <div id="copyright">
      <p id="copy">&copy; ABC Banking since 2020. All Rights Reserved</p>
    </div>
  </div>

</div>