/* styling for table */
table{
 margin-top:20px;
 margin-left: 450px;

}
/* styling or table header */
th{
  width:5cm;
  text-align:center;
  color:darkblue;
}
/* styling for table cell */
td{
  width:5cm;
  text-align:center;
}

/* styling for button*/
button{
  position:fixed;
  margin-top:4%; 
  padding: 6px;
  border-radius: 10px;
  resize: vertical;
  background-color: deeppink;
  color:darkblue;
  margin-left:550px;
}
/* styling for button on hover */
button:hover{
  background-color:darkblue;
  color:deeppink;
}

/* styling for image */
  .image{
    margin-left: 500px;
  }
/* styling for errors */
  .errors{
    border:1px solid red;
    margin:15px 0  15px 0;
    text-align:center;
    width:300px;
    margin-left:63%
  }
  b{
    margin-left:50px;
    margin-top: 2px; 
    color:rgb(197,31,99)
  }