/* styling for top navigation bar*/
.topnav{
    background-color: darkblue;  overflow: hidden;
    margin-top: 0px;
    height:55px;
    width:100%;
  margin-bottom: 2px;
  
  }
  .topnav a {
    float: left;
    color: white;
    margin-left: 33%;;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
    border:1;
    line-height: 0;
  }
  /* styling for top navigation ends */

  
  /* styling for page containing forms */
  .container{
    width:100%;
    height:100%;
    background-color:rgba(220,220,220,0.5) ;
    
  }
#form{
    width:45%;
    height:400px;
    margin-top:10%;
    margin-left: 25%;
}
/* styling for label */
label{
  padding:5px 5px;
  width:40%;
  margin-left:20%;
  margin-top:2%;
  color:black;
  font-size: 15px;

}
/* styling for input box */
input{
  padding:5px 5px;
  width: 25%;
  margin:3% 0 0 3%;

}
/* styling for button */
button{
  width:45%;
  padding:5px 5px;
  background-color: deeppink;
  margin-left:55%;
  color:darkblue;
  font-size: 14px;
  
  width:20%;
  margin-top: 25px;
 
}
button:hover{
  color:rgb(168,7,98);
  background-color:darkblue ;
  width:20%;

  
}

