<div class="image">
    <div><img src="/assets/images/calculateEmi.png"></div>
    <div><b style="margin-left:50px">CALCULATE EMI</b></div>

    <div class="container">
        <form [formGroup]="calculateForm">

            <div class="form-group row">
                <!-- tenure-->
                <label for="time"><b>Tenure </b></label>
                <input type="number" placeholder="Enter tenure in monthd" formControlName="time" name="time">
                <!-- errors on validation of  tenure - required and minimum months-->
                <div class="text-danger" *ngIf="submitted && calculateForm.controls.time.errors">
                    <div *ngIf="calculateForm.controls.time.errors.required">
                        Tenure should be provided
                    </div>
                    <div *ngIf="calculateForm.controls.time.errors.min">
                        Tenure should be minimum of 5 months
                    </div>
                </div>
            </div>

            <!-- Rate of interest field which is of fixed percentage 1.5-->
            <div class="form-group row">
                <label for="roi"><b>Rate of Interest </b></label>
                <input type="number" value=1.5 readonly>

            </div>

            <!-- ERROR HANDLING BLOCK-->
            <div class="text-danger">
                <div class="errors" *ngIf="loan_account_not_exists">
                    {{message_if_loan_exists}}
                </div>

                <div class="errors" *ngIf="calculated_emi">
                    {{message_if_already_calculated}}
                </div>
            </div>
            <div *ngIf = "calculated">
                calculated EMI successfully {{ result }}
            </div>
            <button type="submit" (click)="calculateEmi()"><b>Calculate EMI</b></button>
        </form>
        
    </div>