/* design for table */
table{
    margin-left: 5%;
    margin-top:5%; 
  }
  
  th{
   text-align:center;
    height:1.2cm;
    width:7cm;
    border-radius: 14px;
    color:darkblue
    
  }
  td{
    height:1.2cm;
    width:7cm;
    
  }
  td  b{
    color:black
  }
/* design for image */
img{
  margin-left:44%;
  width:150px;
  height:150px;
}
b{
  margin-left:45%;
  color:rgb(197,31,99);
 
  
}