<!--navigation bar-->
<div class="topnav2">

  <div id="nav2">

    <a routerLink="/home/security">SECURITY</a>
    <a routerLink="/home/aboutus">ABOUT US</a>
    <a routerLink="/home/contact">CONTACT US</a>
    <a routerLink="/home/admin">ADMIN</a>
    
  </div>
</div>

<!--give choice of login and signup>-->
<div class="bg-img">
  <div class="container-for-image-slide-and-choice" >

    <br>
    <h3 class="heading"><b>BANKING </b></h3>
    <br><br>
    <button class="button1" routerLink="/home/login">LOGIN</button>
    <br><br>
    <button class="button1" routerLink="/home/signup">SIGN UP</button>
    <br><br>


  </div>
</div>






