<!--navigation bar-->
<div class="topnav2">
  
    <div id="nav2">
  
      <a routerLink="/home/security">SECURITY</a>
      <a routerLink="/home/aboutus">ABOUT US</a>
      <a routerLink="/home/contactus">CONTACT US</a>
      <a routerLink="/home/admin">ADMIN</a>
      
    </div>
  </div>
  
<div class="row offset-lg-1 col-lg-10" style="justify-content: center;">
  <div class="card" style="background-image: url(/assets/images/phone.jpg);background-size: cover;">
      <div class="back" style="height: 200px;width: 200px;">
         <p> +91 9874561230 </p>
      </div>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="card" style="background-image: url(/assets/images/mail.jpg);background-size: cover;">
      <div class="back" style="width: 200px;height: 200px;">
          <p>help@abcBanking.com </p>
      </div>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="card" style="background-image: url(/assets/images/location.jpg);background-size: cover;">
      <div class="back" style="width: 200px;height: 200px;">
        <p> TENALI </p>
      </div>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</div>

